/* Fontes usadas neste site */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Corpo da página inicial */

.corpo-inicio {
    margin-top: 15vh;
    display: flex;
    align-items: center;
    padding-inline: 5vw;
    justify-content: space-around;
}

.corpo-inicio .textos {
    display: flex;
    flex-direction: column;
    margin-left: 7vw;
    max-width: 30vw;
}

.corpo-inicio .textos h1 {
    font-size: 3vw;
    font-weight: 900;
    line-height: 6vh;
}

.corpo-inicio .textos h2 {
    font-size: 1.4vw;
    font-weight: 900;
    margin-top: -4vh;
    color: blue;
}

.corpo-inicio .textos h3 {
    font-size: 0.8vw;
    font-weight: 400;
    margin-top: -1vh;
}

.corpo-inicio .imagem {
    display: flex;
    transition: 0.5s ease-out;
}

.corpo-inicio .imagem:hover {
    transform: scale(110%);
    transition: 0.5s ease-out;
}


.corpo-inicio .imagem img {
    z-index: 1;
    width: 49vw;
}

.corpo-inicio .imagem .fundo-animado {
    margin-left: 12vw;
    margin-top: 10vh;
    width: 20vw;
    height: 45vh;
    position: fixed;
    border: 1.5vw solid blue;
    z-index: 0;
    animation: rotate-fundo-animado 12s linear infinite;
}

@keyframes rotate-fundo-animado {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}