/* Corpo da página Preços */

.corpo-preco {
    margin-top: 42vh;
    width: 100vw;
    display: flex;
    align-items: center;    
}

.corpo-preco .imagem{
    transition: 1s ease-in-out;
}

.corpo-preco .imagem:hover {
    scale: 103%;
    transition: 1s ease-in-out;
}

.corpo-preco .imagem img {
    position: absolute;
    width: 32vw;
    margin-top: -25vh;
    margin-left: 10vw;
}

.corpo-preco .imagem .quadrado {
    margin-left: 12vw;
    margin-top: -18vh;
    border-radius: 1vw;
    width: 10vw;
    height: 12vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    animation: color-quadrado 2s step-end infinite;
}

@keyframes color-quadrado {
    50% {
        background-color: blue;
        color: rgb(255, 255, 255);
    }
    100% {
        background-color: black;
        color: white;
    }
}


.corpo-preco .quadrado h1 {
    position: absolute;
    margin-top: 0vh;
    font-weight: 900;
    font-size: 1.8vw;
}

.corpo-preco .quadrado h2 {
    position: absolute;
    margin-top: 5.5vh;
    font-weight: 600;
    font-size: 1vw;
    letter-spacing: 0.4vw;
    margin-left: 0.3vw;
}

.corpo-preco .texto {
    position: absolute;
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 45vw;
    justify-content: center;
    align-items: center;
    width: 45vw;
    scale: 90%;
}

.corpo-preco .texto h1{
    font-size: 3vw;
    max-width: 30vw;
    font-weight: 900;
    line-height: 7vh;
    text-align: center;
}

.corpo-preco .texto h1 strong {
    font-weight: 900;
    color: blue;
}

.corpo-preco .texto .box-precos {
    display: flex;
}

.corpo-preco .texto .box-precos .box-1 {
    position: absolute;
    margin-top: 1vh;
    margin-left: -15vw;
    box-shadow: 0 0.5vw 1vw rgb(146, 146, 146);
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 15vw;
    height: 50vh;
    z-index: 0;
    transition: 0.5s ease-in-out;
}

.corpo-preco .texto .box-precos .box-1:hover {
    z-index: 2;
    scale: 110%;
    transition: 0.5s ease-in-out;
}

.corpo-preco .texto .box-precos .box-1 .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-preco .texto .box-precos .box-1 .titulo h1 {
    position: absolute;
    margin-top: -19vh;
}

.corpo-preco .texto .box-precos .box-1 .titulo h3 {
    margin-top: -21vh;
    font-size: 1vw;
}

.corpo-preco .texto .box-precos .box-1 .info1 {
    margin-top: -8vh;
    text-align: center;
    font-size: 0.6vw;
    position: absolute;
    max-width: 12vw;
    line-height: 1.5vh;
}

.corpo-preco .texto .box-precos .box-1 .preco {
    margin-top: 15vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.corpo-preco .texto .box-precos .box-1 .info2 {
    margin-top: 26vh;
    text-align: center;
    font-size: 0.5vw;
    position: absolute;
    max-width: 12vw;
    line-height: 1.5vh;
}

.corpo-preco .texto .box-precos .box-1 .buttom {
    margin-top: 38vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7vw;
    border-radius: 0.3vw;
    border: 2px solid black;
    width: 7vw;
    height: 3vh;
    color: black;
    font-weight: 600;
    transition: 0.5s ease-out;
}

.corpo-preco .texto .box-precos .box-1 .buttom:hover {
    background-color: black;
    font-weight: 900;
    color: white;
    font-size: 0.8vw;
    width: 7.7vw;
    height: 3.7vh;
    transition: 0.5s ease-out;
}

.corpo-preco .texto .box-precos .box-2 {
    margin-top: -2vh;
    box-shadow: 0 0.5vw 1vw rgb(146, 146, 146);
    border-radius: 1.5vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: blue;
    width: 18vw;
    height: 50vh;
    z-index: 1;
    transition: 0.5s ease-in-out;
    color: white;
}

.corpo-preco .texto .box-precos .box-2:hover {
    transform: translateY(2vh);
    scale: 110%;
    transition: 0.5s ease-in-out;
}

.corpo-preco .texto .box-precos .box-2 .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-preco .texto .box-precos .box-2 .titulo h1 {
    position: absolute;
    font-size: 2.4vw;
    margin-top: -19vh;
}

.corpo-preco .texto .box-precos .box-2 .titulo h3 {
    margin-top: -21vh;
    font-size: 1vw;
}

.corpo-preco .texto .box-precos .box-2 .info1 {
    margin-top: -8vh;
    text-align: center;
    font-size: 0.6vw;
    position: absolute;
    max-width: 12vw;
    line-height: 1.5vh;
}

.corpo-preco .texto .box-precos .box-2 .preco {
    margin-top: 15vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.corpo-preco .texto .box-precos .box-2 .info2 {
    margin-top: 26vh;
    text-align: center;
    font-size: 0.5vw;
    position: absolute;
    max-width: 12vw;
    line-height: 1.5vh;
}

.corpo-preco .texto .box-precos .box-2 .buttom {
    margin-top: 38vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7vw;
    border-radius: 0.3vw;
    border: 2px solid white;
    width: 7vw;
    height: 3vh;
    color: white;
    font-weight: 600;
    transition: 0.5s ease-out;
}

.corpo-preco .texto .box-precos .box-2 .buttom:hover {
    background-color: white;
    font-weight: 900;
    color: blue;
    font-size: 0.8vw;
    width: 7.7vw;
    height: 3.7vh;
    transition: 0.5s ease-out;
}

.corpo-preco .texto .box-precos .box-3 {
    margin-top: 1vh;
    margin-left: 17.5vw;
    position: absolute;
    box-shadow: 0 0.5vw 1vw rgb(146, 146, 146);
    border-radius: 1.5vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    width: 15vw;
    height: 50vh;
    z-index: 0;
    transition: 0.5s ease-in-out;
}

.corpo-preco .texto .box-precos .box-3:hover {
    z-index: 2;
    scale: 110%;
    transition: 0.5s ease-in-out;
}

.corpo-preco .texto .box-precos .box-3 .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-preco .texto .box-precos .box-3 .titulo h1 {
    position: absolute;
    margin-top: -19vh;
}

.corpo-preco .texto .box-precos .box-3 .titulo h3 {
    margin-top: -21vh;
    font-size: 1vw;
}

.corpo-preco .texto .box-precos .box-3 .info1 {
    margin-top: -8vh;
    text-align: center;
    font-size: 0.6vw;
    position: absolute;
    max-width: 12vw;
    line-height: 1.5vh;
}

.corpo-preco .texto .box-precos .box-3 .preco {
    margin-top: 15vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.corpo-preco .texto .box-precos .box-3 .info2 {
    margin-top: 26vh;
    text-align: center;
    font-size: 0.5vw;
    position: absolute;
    max-width: 12vw;
    line-height: 1.5vh;
}

.corpo-preco .texto .box-precos .box-3 .buttom {
    margin-top: 38vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7vw;
    border-radius: 0.3vw;
    border: 2px solid black;
    width: 7vw;
    height: 3vh;
    color: black;
    font-weight: 600;
    transition: 0.5s ease-out;
}

.corpo-preco .texto .box-precos .box-3 .buttom:hover {
    background-color: black;
    font-weight: 900;
    color: white;
    font-size: 0.8vw;
    width: 7.7vw;
    height: 3.7vh;
    transition: 0.5s ease-out;
}